<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Are you trying to find my secrets?</h1>

    <div class="center_align">
    <p>What are you doing here?</p>

    <img src="{{ url_for('static', filename='images/what.jpg') }}" style="width: 300px" alt="What?"/>
    </div>
    <p></p>
    <div class="center_align"><a class="link_button center_align" href="/">Back to blog posts</a></div>


</body>
</html>
